<script type="text/template" id="templateHelperRow">
    <tr id="help<%= id %>" data-help-id="<%= id %>" data-page-url="<%= filename %>">
        <td class="form-group">
            <input class="form-control input-sm" type="text" value="<%= field_selecter %>" data-value="<%= field_selecter %>" data-attr="field_selecter">
        </td>
        <td class="form-group">
            <input class="form-control input-sm" name="title" type="text" value="<%= title %>" data-value="<%= title %>" data-attr="title">
        </td>
        <td class="">
            <div class="checkbox" style="margin:5px 0;" >
                <label>
                    <input type="checkbox" name="size" value="1" <% if (large == 1) { %> checked <% } %> data-value="<%= large %>" data-attr="large"> Large
                </label>
            </div>
        </td>
        <td>
            <button class="btn btn-default btn-sm btn-block editHelp" data-field-id="<%= field_selecter %>" data-filename="<%= filename %>">Edit</button>
        </td>
        <td>
            <button class="btn btn-default btn-sm btn-block saveHelp" data-field-id="<%= field_selecter %>" data-filename="<%= filename %>" data-ajaxed="true">Save</button>
        </td>
        <td>
            <button class="btn btn-default btn-sm btn-block deleteHelp" data-field-id="<%= field_selecter %>" data-filename="<%= filename %>">Delete</button>
        </td>
    </tr>
</script>
<script type="text/template" id="templateTabPanel">
<div role="tabpanel">
    <ul class="nav nav-tabs">
    </ul>
    <div class="tab-content">
    </div>
</div>
</script>
<script type="text/template" id="templateTabLI">
    <li><a id="tab_<%= clean %>" href="#_<%= clean %>"><%= url %></a></li>
</script>
<script type="text/template" id="templateTabDiv">
    <div class="tab-pane" id="_<%= clean %>" data-page-url="<%= url %>" data-page-id="<%= id %>">
    </div>
</script>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="bhmModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Help Bubble: <span id="bhmModalFilename"></span> / <span id="bhmModalFieldselecter"></span></h4>
      </div>
      <div class="modal-body">
        <textarea class="edit-html-textarea ckeditor" id="bhmTextareaEditor"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save-html">OK</button>
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
